*{
    padding: 0;
    margin: 0;
}
#game-container{
    position: relative;
    height: 2872px;
    width: 512px;
}
#game-container, #stage, #pad, #door, #character-container{
    display: block;
}
#door, #pad, #character-container, #stage{
    position: absolute;
}
#pad{
    height: 100px;
    width: 130px;
    top: 510px;
    left: 190px;
}
#door{
    height: 32px;
    width: 80px;
    top: 2111px;
    left: 312px;
    display: none;
}
#character-container{
    height: 30px;
    width: 30px;
    left: 50%;
    top: 95%;
}
.nonremovables{
    position: absolute;
    display: block;
    background-color: blueviolet;
}
.turrets{
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
}
.projectile{
    position: absolute;
    display: block;
    height: 10px;
    width: 10px;
    /* temp */
    background-color: black;
}
/* for testing */
/* #door, #pad{
    display: none;
} */
.poly{
    position: absolute;
    display: block;
    height: 10px;
    width: 10px;
    background-color: blueviolet;
}