*{
    padding: 0;
    margin: 0;
}
#game-container, #stage, #character-view{
    width: 211px;
}
#game-container{
    height: 300px;
    overflow: hidden;
}
#stage {
    height: 1189px;
    position: relative;
    top: -888px; /*stage dim:1189x212 */
}
#door1{
    height: 15px;
    width: 30px;
    position: relative;
    top: 882px;
    left: 132px;
    /* display: none; */
}
#character-view{
    height: 100px;
    position: relative;
    top: 1089px;
    border: red solid 2px;
}
#character-container{
    width: 20px;
    height: 25px;
    position: relative;
    top: 38px;
    left: 96px;
}