*{
    padding: 0;
    margin: 0;
}
#game-container, #stage, #character-view{
    width: 210px;
}
#game-container{
    height: 300px;
    overflow: hidden;
    position: relative;
}
#stage {
    height: 1190px;
    position: absolute;
    top: -890px; /*stage dim:1189x212 */
}
#door1{
    height: 15px;
    width: 30px;
    position: absolute;
    top: 868px;
    left: 131px;
    display: none;
}
#character-view{
    height: 100px;
    position: absolute;
    top: 200px;
    /* border: red solid 2px; */
}
#character-container{
    width: 20px;
    height: 25px;
    position: absolute;
    top: 40px;
    left: 90px;
}